body{
	background-color: rgba(235, 232, 193, 0.24902);
}

#chartArea {
	border: 2px dashed black;
	height: 1000px;
	width: 1000px;
}

#btn-bar{
	border: 2px dashed black;
}
#btn-bar h2{
	display: inline;
	margin-left: 50px;
	margin-right: 50px;
}

.distance-circle, .distance-circle-comp{
	fill: none;
	stroke: orange;
	stroke-width: 1px;
	stroke-dasharray: 4, 2;	/*removing might improve performance*/
}

.distance-circle-comp{
	stroke: maroon;
	stroke-dasharray: 20, 10, 5, 10, 5, 10; /*removing might improve performance*/
}

.circles{
	fill: maroon;
}
.circles:hover{
	fill: teal;
}

.arcs{
	/*
	 * cannot use css for things that have complicated manipulations
	 * -> multiple colours rather than a binary thing
	 * -> lack of delays and such, js offers more customisation 
	*/
	fill: teal;
	stroke: #333;
 	stroke-width: 1.5px;
}
