#chartArea {
	border: 2px dashed black;
	height: 900px;
	width: 900px;
}

path {
  fill: #ccc;
  stroke: #333;
  stroke-width: 1.5px;
}
path:hover {
	fill: orange;
}

#btn-bar{
	border: 2px dashed black;
}
#btn-bar h2{
	display: inline;
	margin-left: 50px;
	margin-right: 50px;
}